# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"
#alias ccat="/usr/local/bin/pygmentize -O style=monokai -f 256 -g"
alias cat="bat --paging=never --decorations=never --theme="DarkNeon""
alias dcu='docker-compose up'
alias dcd='docker-compose down'
alias dotfiles='/usr/local/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias help="tldr"
alias diff="icdiff --line-numbers"
alias du="ncdu --color dark -rr -x --exclude .git --exclude node_modules"
alias pip="/usr/bin/pip3"
alias pping="prettyping --nolegend"
alias preview="fzf --height 40% --preview 'if file -i {}|grep -q binary; then file -b {}; else bat --color \"always\" {}; fi'"
alias top="htop"
alias rm="trash -F"
alias tree="tree -a -I '.git'"
alias vi="vim"

# macOS specific
alias python=/usr/local/bin/python3
